/*Fonts */

/* Neue Montreal */
@font-face {
  font-family: 'Neue Montreal';
  src: url("./fonts/NeueMontreal-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url("./fonts/NeueMontreal-Book.woff2") format("woff2");
  font-weight: 350;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url("./fonts/NeueMontreal-Italic.woff2") format("woff2");
  font-weight: 350;
  font-style: italic;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url("./fonts/NeueMontreal-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url("./fonts/NeueMontreal-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url("./fonts/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
margin: 0;
padding: 0;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
box-sizing: border-box;
font-family: 'Neue Montreal', sans-serif;
}

body {
  background-color: #111111;
}

/* lenis.js */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* custom-scrollbar */
::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  background: rgba(41, 41, 41, 1);
  border-radius: 10px;
  
}

::-webkit-scrollbar-thumb {
  background: rgba(245, 245, 247, 1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(245, 245, 247, 1);
  border-radius: 10px;
}
